<div>

  <% if current_user.avatar? %>
    <%= link_to image_tag( current_user.avatar.url , size: "40x40"), edit_user_registration_path %>
  <% else %>
    <%= link_to image_tag( "default-avatar.jpg" , size: "40x40"), edit_user_registration_path %>
  <% end %>

   <%= current_user.name %>
   <% if current_user.admin %>
     <%= image_tag( "admin.png" , size: "20x20") %>
   <% else %>
     <%= image_tag( "member.png" , size: "20x20") %>
   <% end %>
</div>
