<header class="header">
  <p>header</p>
  <ul>
    <li><%= link_to t("static_page.home.title"), root_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to t("users.upload"), "#" %></li>
      <li>
        <%= render "users/shared/user_minimize"%>
      </li>
      <li>
        <%= link_to t("users.logout.title"), destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li><%= link_to t("users.login.title"), new_user_session_path %></li>
      <li><%= link_to t("users.signup.title"), new_user_registration_path %></li>
    <% end %>
  </ul>
</header>
