<div id="header">
  <a href="/" id="logo"><%= t ".logo" %></a>
  <ul id="menu">
    <li><a href="/"><span><%= t ".home" %></span></a></li>
    <li><a href="/"><span><%= t ".tutorials" %></span></a></li>
    <li><a href="/"><span><%= t ".acticales" %></span></a></li>
    <li><a href="/"><span><%= t ".about" %></span></a></li>
    <li><a href="/"><span><%= t ".contact" %></span></a></li>
  </ul>
</div>
